.form-add-video{
    background-color:#ffe5cc ;
    padding: 10px;
    border-radius: 15px;
    border: 3px double black;
}
.btn-add-video{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}