.video-card-container{
    background-color: white;
    width: 350px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0,0.5);
}

.video-card-container:hover{
    box-shadow: 3px 3px 8px rgb(0, 0, 0, 0.5);
    border: 0.5px solid black;
    border-radius:10px;
    cursor: pointer;
  }


.video-card-thumbnail{
    width: 100%;
    max-height: 200px;
    border-radius: 10px;
}

.video-card-title{
    padding-left: 10px;
    font-weight: bold;
    color: black;
}

.video-card-description{
    padding: 10px;
    font-style: italic;
    color: gray;

}
